language: ruby
rvm:
  - 2.2.2
  - 2.3.7
  - 2.4.4
  - 2.5.1
before_install: gem install bundler
cache:
  directories:
    - vendor/bundle
install: bundle install --path=vendor/bundle
script:
  - bundle exec rake spec
after_success:
  - bundle exec codeclimate-test-reporter
